// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=73y220kllllc3MRgHtEpZd1uC4J */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #2A4F6E;	// Main Primary color */
$color-primary-1: #8CB5D7;
$color-primary-2: #4E7798;
$color-primary-3: #102C43;
$color-primary-4: #030E18;

$color-secondary-1-0: #A43741;	// Main Secondary color (1) */
$color-secondary-1-1: #FB9DA6;
$color-secondary-1-2: #E46D79;
$color-secondary-1-3: #64131B;
$color-secondary-1-4: #240205;

$color-secondary-2-0: #408E2F;	// Main Secondary color (2) */
$color-secondary-2-1: #A3EC93;
$color-secondary-2-2: #70C55E;
$color-secondary-2-3: #1D5710;
$color-secondary-2-4: #071F01;

$color-complement-0: #AA7A39;	// Main Complement color */
$color-complement-1: #FFD79F;
$color-complement-2: #ECB871;
$color-complement-3: #684414;
$color-complement-4: #261602;
